[project]
name = "agefreighter"
authors = [
    {name = "Rio Fujita", email = "rifujita@microsoft.com"},
]
version = "0.5.3"
license = {file = "LICENSE"}
description = "AgeFreighter is a Python package that helps you to create a graph database using Azure Database for PostgreSQL."
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "asyncio>=3.4.3",
    "fastavro>=1.9.7",
    "gremlinpython>=3.7.3",
    "neo4j>=5.27.0",
    "networkx>=3.2.1",
    "numpy>=2.0.2",
    "pandas>=2.2.3",
    "psycopg>=3.2.3",
    "psycopg-pool>=3.2.4",
    "pyarrow>=18.1.0",
    "resource>=0.2.1",
    "typing-extensions>=4.12.2",
    "nest-asyncio>=1.6.0",
    "azure-identity>=1.19.0",
    "azure-mgmt-postgresqlflexibleservers>=1.0.0",
    "azure-mgmt-storage>=21.2.1",
    "azure-storage-blob>=12.24.0",
]

[tool.uv.workspace]
members = ["agefreighter"]

[project.urls]
Homepage = "https://github.com/rioriost/agefreighter"
Issues = "https://github.com/rioriost/agefreighter/issues"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.sdist]
include = [
  "src/agefreighter/*.py",
  "/tests",
]
exclude = [
  "uv.lock",
  "/data/*",
  "dist/.DS_Store",
]

[tool.hatch.build.targets.wheel]
packages = ["src/agefreighter"]
